.close-button {
  fill: gray;
  transition: 0.3s;
}

.close-button:hover {
  fill: #012699;
}

.navbar {
  width: 75rem;
  margin: 0 auto;
  /* text-align: center; */
  /* justify-content: center; */
  vertical-align: middle;
  padding: 2rem 0;
}

.navbar-brand {
  display: block;
}

.container.thin {
  width: 40rem;
}

.contact-title {
  padding: 5rem;
  text-align: center;
}
