/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

div ul a,
div .brand-logo {
  color: #fff;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: 575px;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.full-width-container {
  width: 95%;
  margin: 0 auto;
}

.section.no-pad-bot {
  padding-bottom: 0;
  padding-top: 0;
  /* vertical-align: middle;
  text-align: center; */
}

nav {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 30px 0 0;
  height: 50px;
}

nav.transparent {
  padding: 0;
}

.cn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cn.even-spacing {
  justify-content: space-evenly;
}

.title.is-size-5.is-spaced.blake {
  margin-bottom: 0.7rem;
}

.col.s12.m5.no-margin {
  margin: 0;
  width: 100%;
}

.stack {
  display: block;
  padding-top: 1rem;
}

.section.less-padding {
  padding: 8px;
}

.experiences-description {
  font-size: 18px;
}

.no-padding {
  padding: 0;
}

.cn.space-around {
  justify-content: space-around;
}

.thin-message {
  width: 37rem;
  margin: auto 0;
}

.section {
  padding: 5rem 1.5rem;
}

.section.skills {
  margin-top: -14rem;
  padding-bottom: 1rem;
}

.has-text-centered {
  text-align: center !important;
}

.section.skills .box .content .columns .column figure.image img.is-skill-icon {
  height: 48px;
  width: auto;
}

.section.skills .box .content .columns .column {
  padding: 70px 45px;
}

.has-text-centered {
  text-align: center !important;
}

.section.skills .box .content .columns .column ul {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.section.skills .box .content .columns .column p.list-title {
  margin-top: 50px;
  margin-bottom: 8px;
}

.section.skills .box .content .columns .column p {
  font-size: 18px;
}

.section.skills .box .content .columns .column {
  padding: 70px 45px;
}

.content h1:not(:first-child) {
  margin-top: 1em;
}

.box:not(:last-child),
.content:not(:last-child),
.notification:not(:last-child),
.progress:not(:last-child),
.table:not(:last-child),
.table-container:not(:last-child),
.title:not(:last-child),
.subtitle:not(:last-child),
.block:not(:last-child),
.highlight:not(:last-child),
.breadcrumb:not(:last-child),
.level:not(:last-child),
.list:not(:last-child),
.message:not(:last-child),
.pagination:not(:last-child),
.tabs:not(:last-child) {
  margin-bottom: 1.5rem;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-family: 'eurostile', sans-serif;
  font-weight: 800;
  color: #141c3a;
}

.section.skills .box .content .columns .column p {
  font-size: 18px;
}

.content p:not(:last-child) {
  margin-bottom: 2em;
}

.section.skills .box .content .columns .column p.list-title {
  margin-top: 50px;
  margin-bottom: 8px;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.section.skills .box .content .columns .column ul li {
  font-size: 18px;
}

.content li + li {
  margin-top: 0.25em;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.section.skills .box .content .columns .column {
  border-bottom: 0px solid #e6ecf8;
  border-right: 1px solid #e6ecf8;
  padding: 60px 35px;
}

.section.skills .box .content .columns .column:last-child {
  border-right: none;
  border-bottom: none;
}

.section.map {
  margin-top: -17rem;
  padding-bottom: 1rem;
}

.parallax-container.map {
  height: 700px;
}
